{%- comment -%}
  Search Overlay
{%- endcomment -%}

<div class="search-overlay" id="search-overlay" data-search-overlay aria-hidden="true">
  <button class="search-overlay__close" data-search-close aria-label="{{ 'general.accessibility.close' | t }}">
    {% render 'icon-close' %}
  </button>
  
  <div class="search-overlay__content">
    <form action="{{ routes.search_url }}" method="get" class="search-overlay__form" role="search">
      <input type="hidden" name="type" value="product">
      <input 
        type="search" 
        name="q"
        class="search-overlay__input" 
        placeholder="{{ 'general.search.placeholder' | t | default: 'Buscar productos...' }}"
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="false"
        data-search-input
      >
    </form>
    
    <div class="search-overlay__results" data-search-results>
      {%- comment -%} Results will be populated via JavaScript {%- endcomment -%}
    </div>
  </div>
</div>
